ANTHROPIC_API_KEY=your_anthropic_key_here
APIFY_API_TOKEN=your_apify_token_here
VIBE_API_KEY=your_vibe_prospecting_key_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=job_search
POSTGRES_USER=your_pg_user
POSTGRES_PASSWORD=your_pg_password